.myHR{
    border-color: rgb(255, 255, 255); 
    border-width: 3px;
}


.after_registration {
    
    margin: 0 auto; /* center the form horizontally on the page */
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%); /* center the form vertically and horizontally on the page */
    opacity: 0.9;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  
  .logo{
    transform: translate(40%, -10%); /* center the form vertically and horizontally on the page */
  }


  input[type="text"] {
    width: 300px;
    height: 40px;
    border-color: black;
    margin-left: 220px;
  }

  button{
    width: 250px;
    height: 30px;
    margin-left: 250px;
    background-color: #272626;
    color: rgb(255, 255, 255);
  }

  button:hover{
    opacity: 50%;
  }


  //----------------------------------------------------------------------------------------------------------------------------------------
  //----------------------------------- MOBILE VERSION -----------------------------------------------------------------------------------
  //-------------------------------------------------------------------------------------------------------------------------------------

  

  .input-mobile[type="text"] {
    width: 230px;
    height: 40px;
    border-color: black;
    margin-left: 60px;
    transform: translate(-10%, 0%);
  }

  .button-mobile{
    width: 210px;
    height: 30px;
    margin-left: 70px;
    background-color: #272626;
    color: rgb(255, 255, 255);
    transform: translate(-10%, 0%);
  }

  .button-mobile:hover{
    opacity: 50%;
  }


  .after_registration-mobile {
    
    margin: 0 auto; /* center the form horizontally on the page */
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%); /* center the form vertically and horizontally on the page */
    opacity: 0.9;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  .logo-mobile{
    transform: translate(10%, -10%); /* center the form vertically and horizontally on the page */
  }