<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Link to Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
      body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        height: 100vh;
      }
    </style>
</head>
<body>



<!-------------------------------------------------------------DESKTOP VERSION------------------------------------------------>
<!-------------------------------------------------------------DESKTOP VERSION------------------------------------------------>
<!-------------------------------------------------------------DESKTOP VERSION------------------------------------------------>

<div *ngIf="this.is_mobile_device==false">

  <!-----------------Header-------------------->
  <br>
  <div class="logo">
      <img [src]="'https://e-scooter-backend-9c20d666a97d.herokuapp.com/api/images/1'" style="height: 200px; width: 150; padding-left: 50px;">
  </div>
  <!----------------End header----------------->


  <!----------------------------------Form before submit--------------------------------->
  <div *ngIf="this.submited == false">
      <form style="background-color: #D3D3D3;" class="after_registration">
          <h2 style="text-align: center;">We will send you an email with guide for password change.</h2>
          <br>
          <input type="text" placeholder="Enter your email" name="email" [(ngModel)]='email' (ngModelChange)="clearMessage()">
          <p style="text-align: center; color: #a33535;" *ngIf="this.message!=''">{{message}}</p>
          <br *ngIf="this.message==''">
          <br>
          <button (click)="submit()">Submit</button>
      </form>
  </div>
  <!----------------------------------End form before submit--------------------------------->



  <!----------------------------------Form after submit--------------------------------->
  <div *ngIf="this.submited == true">
      <form style="background-color: #D3D3D3;" class="after_registration">
          <h2 style="text-align: center;">We have sent you an email with guide for password change.</h2>
          <br>
          <h2 style="text-align: center;">Please check your inbox.</h2>
          <br>
          <button (click)="jump_to_login()">Jump to Login</button>
      </form>
  </div>
  <!----------------------------------End form after submit--------------------------------->

</div>

<!----------------------------------------------------------END DESKTOP VERSION------------------------------------------------>
<!----------------------------------------------------------END DESKTOP VERSION------------------------------------------------>
<!----------------------------------------------------------END DESKTOP VERSION------------------------------------------------>











<!---------------------------------------------------------- MOBILE VERSION------------------------------------------------>
<!---------------------------------------------------------- MOBILE VERSION------------------------------------------------>
<!---------------------------------------------------------- MOBILE VERSION------------------------------------------------>
<div *ngIf="this.is_mobile_device==true">

<!-----------------Header-------------------->
<br>
<div class="logo-mobile">
    <img [src]="'https://e-scooter-backend-9c20d666a97d.herokuapp.com/api/images/1'" style="height: 200px; width: 150; padding-left: 50px;">
</div>
<!----------------End header----------------->


<!----------------------------------Form before submit--------------------------------->
<div *ngIf="this.submited == false">
    <form style="background-color: #D3D3D3;" class="after_registration-mobile">
        <h2 style="text-align: left;">We will send you an email with guide for password change.</h2>
        <br>
        <input class="input-mobile" type="text" placeholder="Enter your email" name="email" [(ngModel)]='email' (ngModelChange)="clearMessage()">
        <p style="text-align: center; color: #a33535;" *ngIf="this.message!=''">{{message}}</p>
        <br *ngIf="this.message==''">
        <br>
        <button class="button-mobile" (click)="submit()">Submit</button>
    </form>
</div>
<!----------------------------------End form before submit--------------------------------->



<!----------------------------------Form after submit--------------------------------->
<div *ngIf="this.submited == true">
    <form style="background-color: #D3D3D3;" class="after_registration-mobile">
        <h2 style="text-align: center;">We have sent you an email with guide for password change.</h2>
        <br>
        <h2 style="text-align: center;">Please check your inbox.</h2>
        <br>
        <button class="button-mobile" (click)="jump_to_login()">Jump to Login</button>
    </form>
</div>
<!----------------------------------End form after submit--------------------------------->

</div>
<!----------------------------------------------------------END MOBILE VERSION------------------------------------------------>
<!----------------------------------------------------------END MOBILE VERSION------------------------------------------------>
<!----------------------------------------------------------END MOBILE VERSION------------------------------------------------>

</body>  
