.myHR{
    border-color: rgb(255, 255, 255); 
    border-width: 3px;
}



  input[type="text"], [type="password"] {
    width: 300px;
    height: 40px;
    border-color: black;
    margin: 5px;
  }

  button{
    width: 250px;
    height: 30px;
    margin-left: 25px;
    background-color: #272626;
    color: rgb(255, 255, 255);
  }

  button:hover{
    opacity: 50%;
  }

  .label1{
    color: rgb(255,255,255); 
    background-color: rgb(63, 57, 57); 
    width: 150px;
    height: 40px;
    opacity: 0.9;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    transform: translate(0%, 30%); /* center the form vertically and horizontally on the page */
  }

  .label2{
    color: rgb(255,255,255); 
    background-color: rgb(63, 57, 57); 
    width: 150px;
    height: 40px;
    opacity: 0.9;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    transform: translate(0%, -5%); /* center the form vertically and horizontally on the page */
  }

  

  a{
    color: black;
  }

  a:hover{
    color: black;
  }


  .form-2 {
    
    margin: 0 auto; /* center the form horizontally on the page */
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -40%); /* center the form vertically and horizontally on the page */
    opacity: 0.9;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  .form-1{
    margin: 0 auto; /* center the form horizontally on the page */
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-140%, -50%); /* center the form vertically and horizontally on the page */
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }



  .logo{
    transform: translate(45%, -10%); /* center the form vertically and horizontally on the page */
  }




 







  