
.map{
    height: 500px;
     width: 800px; 
     margin-left: 400px; 
     margin-top: -180px;
     border-radius: 5%;
}




        
.menu{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    background-color: rgb(255, 255, 255);
    margin-top: 290px;
    margin-left: 30px;
    margin-bottom: 50px;
    border-radius: 10%;
  }


  a{
    color: black;
  }

  a:hover{
    color: black;
  }

  body{
    background-color: rgb(247, 241, 241);
    height: 710px;
  }


  .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: 65px;
    margin-top: 35px;
  }

  .menu-button-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #aea7a7;
    cursor: pointer;
    margin-left: 65px;
    margin-top: 35px;
  }


  .start-ride-button {
    margin-top: 40px;
    margin-left: 650px;
    width: 260px;
    height: 50px;
    border-radius: 15%;
    background-color: rgb(40, 213, 156);
    color: #ffffff;
    font-size: large;
  }


 
  .timer{
    margin-top: -40px;
    margin-left: 550px;
    font-size: large;
    font-weight: bold;
  }

  
    
  
  
  .line {
    width: 80%;
    height: 5px;
    background-color: #636060;
    margin-bottom: 3px;
    margin-top: 3px;
  }
  


 

  
  






  